/*================================================================================
	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
	Version: 2.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

.male_female input {
    display: none;
}

.male_female label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    min-width: 120px;
    height: 35px;
    margin-top: 1px;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    margin-right: 15px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
}
.male_female label:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: #b61b68;
    width: 53px;
    transition: all 0.2s;
}
.btn-male {
    color: #fff;
}
.btn-male,
.btn-female {
    padding: 10px;
}
.male_female input:checked + label .btn-female {
    color: #fff;
}
.male_female input:checked + label .btn-male {
    color: initial;
}
.male_female input:checked + label:before {
    left: 53px;
    width: 67px;
}

.cs_logo {
    font-size: 18px;
    font-weight: bold;
}
.cs_logo .logo-dot {
    font-size: 10px;
    position: relative;
    top: -3px;
    padding: 4px;
}
.float-btn-wrapper {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1031;
}
.float-btn-wrapper .btn {
    box-shadow: 0 1px 20px 1px #ea5455 !important;
}
.padding_square_wrapper {
    padding-bottom: 70%;
    position: relative;
}
.padding_square {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.widget-box {
    margin-left: auto;
    margin-right: auto;
    /*max-width: 250px;*/
    border-radius: 100px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    margin-bottom: 25px;
    display: flex;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.02);
    transform: scale(0.9);
    background-color: #ffdeef;
}
.widget-box.fix-width {
    max-width: 250px;
}

.widget-number {
    width: 70px;
    min-width: 70px;
    height: 70px;
    background: #c8548e;
    color: #fff;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    border-radius: 100px;
    transform: scale(1.2);
}

.btn_link {
    font-size: 18px;
    border: 0;
    background: transparent;
}
.font_big th {
    font-size: 15px;
}

.widget-text {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.card-option {
    position: relative;
    display: flex;
    align-items: center;
}
.card-option i {
    opacity: 0.2;
    order: 1;
    display: block;
    margin-right: 10px;
}
.card-option:hover {
    background-color: #f9d7e8;
    cursor: pointer;
}
.card-option:hover i {
    opacity: 1;
}
.card-option input[type="radio"] {
    display: none;
}
.card-option input[type="radio"],
.card-option span {
    order: 2;
}
.card-option input[type="radio"]:checked + span + i {
    opacity: 1;
    color: #28a745;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    /* change if the mask should have another color then white */
    z-index: 99;
    /* makes sure it stays on top */
}

#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    /* centers the loading animation horizontally one the screen */
    top: 50%;
    /* centers the loading animation vertically one the screen */
    background-image: url(https://raw.githubusercontent.com/niklausgerber/PreLoadMe/master/img/status.gif);
    /* path to your loading animation */
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
    /* is width and height divided by two */
}

.invalid-feedback {
    display: block !important;
}

input.error {
    border: 1px solid red;
}

.error {
    color: red;
}

.v-program-description {
    line-height: 26px;
    font-size: 16px;
}

.h100 {
    height: 100%;
}

.v-stage-description {
    line-height: 26px;
    font-size: 15px;
}

.bg-step {
    background-color: #f8f8f8;
}

.locked_stage {
    position: relative;
    pointer-events: none;
}

.locked_wrapper {
    background: rgba(183, 28, 28, 0.3);
    position: absolute;
    top: 0px;
    right: 0;
    bottom: 0px;
    left: 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.locked_wrapper i {
    color: #b61b68;
    font-size: 100px;
}

.sticky_block {
    position: sticky;
    top: 63px;
    z-index: 100;
    padding-top: 20px;
    background: #f5f5f5;
    margin-top: -20px;
}
html body .content.app-content {
    height: 100%;
    overflow: scroll;
}

#stage_wrapper a {
    display: block;
    padding: 0px 7px;
    padding-top: 5px;
    margin-left: -7px;
    margin-right: -7px;
}

#stage_wrapper a.active {
    display: block;
    padding: 0px 7px;
    border-radius: 5px;
    border: 1px solid #b61b68 !important;
    padding-top: 5px;
    background: rgba(182, 43, 104, 0.2);
}

.extra_progess_percentage_warpper {
    position: relative;
    overflow: visible;
}
span.extra_progess_percentage {
    position: absolute;
    top: -19px;
    right: 0;
    color: #444;
    font-size: 12px;
}
